source_env_if_exists .local.envrc

if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

if [[ -v DEVSHELL ]]; then
	use flake ".#$DEVSHELL"
else
	use flake

	tput bold
	echo >&2 'To configure which devshell to load:'
	tput setaf 5 # magenta
	echo >&2 'echo DEVSHELL=crystal > .local.envrc'
	tput sgr0 # reset
fi
